# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

# Directorios
archivos_pdf/
build/
doc/
images/
video/
webfonts/
fonts/
pdf/
includes/paypal/
includes/paypal.php
includes/funciones/bd_conexion.php


# Archivos
*.txt 

## SOURCE CODE
pagar.php            text eol=crlf
pago_finalizado.php  text    